<!--  

IDPF ePub Widget Framework
MIT License
Demos: http://widgets.chaucercloud.com

-->
<?xml version="1.0" encoding="utf-8"?>
<widget>
	<name>Popup Widget</name>
	<label>Popup</label>
	<description>Popups are a handy way to add glossary definitions or additional information to your book content.</description>
	<version>0.1</version>
	<id>EPUB_WIDGET_POPUP</id>
	<author url="http://www.metrodigi.com">Metrodigi</author>
	<license url="http://opensource.org/licenses/MIT">MIT License</license>
	<help url="http://widgets.chaucercloud.com/help">Get help for this widget at www.chaucercloud.com</help>

	<files>
		<filename resource="book" import="true" init-script="true">popup.js</filename>
		<filename resource="book" import="true">popup.css</filename>
		<filename resource="book" type="shared">external/mootools-core-1.4.5-full-nocompat-yc.js</filename>
		<filename resource="book" type="shared">external/mootools-more-1.4.0.1-yc.js</filename>
		<filename resource="book" type="shared">mootools-drag-touch.js</filename>
		<filename resource="book" type="shared">common.js</filename> 
	</files>
	
	<params>
		<param key="compatibility">
			<access booktype="Reflowable">true</access>
			<access booktype="FixedLayout">true</access>
		</param>

		<param key="editor">
			<dimensions width="620" height="700"/>
		</param>
	</params>
</widget>